# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS folder attributes
Icon?
._*

# macOS resource forks
*.Spotlight-V100
*.Trashes

# macOS volume info
.VolumeIcon.icns
com.apple.timemachine.donotpresent